a.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    color: initial;
}

body{
    width: 300px;
    min-height: 500px;
    max-height: 500px;
}
h1{
    text-align: center;
}

div{
    margin-top: 3mm;
    margin-bottom: 3mm;
    text-align: center;
}

select{
    width: 150px;
    height: 300px;
}